@model SP2024_Assignment_3.Models.MovieDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.movie.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.movie.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.movie.IMDB)
        </dt>
        <dd>
            <a href="@Html.DisplayFor(model => model.movie.IMDB)" target="_blank">IMDB Link</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.movie.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.movie.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.movie.ReleaseYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.movie.ReleaseYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.movie.IMG)
        </dt>
        <dd class="col-sm-10">
            @if (Model.movie.IMG != null && Model.movie.IMG.Length != 0)
            {
                <img height="150" src="@Url.Action("GetMoviePhoto", "Movies", new {Model.movie.Id})" />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.movie.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<br />
<h1>Actors</h1>
<table id="actorTable"class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Gender
            </th>
            <th>
                Age
            </th>
            <th>
                IMDB
            </th>
            <th>
                Photo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.actors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    <a href="@Html.DisplayFor(modelItem => item.IMDB)" target="_blank">IMDB Link</a>
                </td>
                <td>
                    @if (item.Photo != null && item.Photo.Length != 0)
                    {
                        <img height="150" src="@Url.Action("GetActorPhoto", "Actors", new { id = item.Id })" alt="Actor photo" />
                    }
                </td>
                <td>

                    <a asp-action="Details" asp-controller="Actors" asp-route-id="@item.Id">Details</a>

                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<h1>Wikipedia Post</h1>
<table id="redditTable" class="table">
    <thead>
        <tr>
            <th>
                Sentiment
            </th>
            <th>
                Post
            </th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Sentiments.Count && i < Model.Posts.Count; i++)
        {
            if (Model.Sentiments[i] != "0")
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Sentiments[i])
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Posts[i])
                    </td>
                </tr>
            }
        }
    </tbody>
</table>